body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 50px 5rem;
}
.image-info {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
}
.selected-image {
  width: 500px;
  margin-top: 10px;
  
}
.selected-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}
.upload-button {
background-color: skyblue;
border: 1px solid blue;
outline: none;
padding: 10px;
border-radius: 10px;
text-align: center;
width: 200px;
}

.upload-button:hover {
  background-color: blue;
  color: white;
  transition: all ease .4s;
  box-shadow: 0 0 10px blue;
  cursor: pointer;
}

.leaflet-marker-icon {
  width: 50px !important;
}
@media only screen and (max-width: 1025px) {
  .container {
    margin: 50px 20px;
  }
.selected-image {
  margin-right: 20px;
}
li  {
  font-size: 16px;
  margin-top: 10px;
}
}

@media only screen and (max-width: 769px) {
  
  .image-info {
    display: block;
  }
  .selected-image {
    width: 100%;
}
li  {
  font-size: 14px;
}
.upload-button   {
  width: auto;
}
}

@media only screen and (max-width: 426px) {
  
  .selected-image {
    width: 100%;
}
}
@media only screen and (max-width: 391px) {
  .container {
    margin: 50px 10px;
  }
  
}